/* MAIN FOOTER */

#footer {
    background: #4f4e4e;
    color: #ffffff;
    clip-path: polygon(0 0,100% 20%,100% 100%,0% 100%);
}

#bottomFooter {
    background: #403f3f;
    color: #A9A9A9;
}

#orangeFooterButton {
    background: #FF8C00;
    color: #d6dbef;
}

#orangeFooterButton:hover {
    background: #d37708;
    color: #e4e9fd;
}

.title {
    color: #A9A9A9;
}

/* ICONS */

.extraIcon {
    color: #4f4e4e;
}

.extraIcon:hover {
    color: #f3bdd7;
}

.topsIcon {
    color: #4f4e4e;
}

.topsIcon:hover {
    color: #f3ee18;
}

.moviesIcon {
    color: #4f4e4e;
}

.moviesIcon:hover {
    color: #3fd2d9;
}

.quickLinksIcon {
    color: #4f4e4e;
}

.quickLinksIcon:hover {
    color: #30f303;
}

.ourAppsIcon {
    color: #4f4e4e;
}

.ourAppsIcon:hover {
    color: #b4d0e9;
}

.followUsIcon {
    color: #4f4e4e;
}

.followUsIcon:hover {
    color: #f5877f;
}

/* LINKS */

.link {
    color: #d7dcef;
    text-decoration: none;
}

.link:hover {
    color: #ffffff;
    text-decoration: none;
}

.link:hover > .extraIcon {
    color: #f3bdd7;
    display: inline-block;
}

.link:hover > .quickLinksIcon {
    color: #30f303;
    display: inline-block;
}

.link:hover > .topsIcon {
    color: #f3ee18;
    display: inline-block;
}

.link:hover > .moviesIcon {
    color: #3fd2d9;
    display: inline-block;
}

.link:hover > .ourAppsIcon {
    color: #b4d0e9;
    display: inline-block;
}

.link:hover > .followUsIcon {
    color: #f5877f;
    display: inline-block;
}