/* LAYOUT */

#contactLayout {
    background-image: url('https://res.cloudinary.com/hellodewa/image/upload/v1619559806/Moviecritics/images/sys/backgrounds/contact-page-background_ddfsu5.jpg');
    background-position: center;
    background-size: fill;
    background-color: "#f38704";
}